.authpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.authpage span {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.authpage a {
  margin-left: 4px;
}

.authpage h2 {
  line-height: 1.5em;
}

.authpage form {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: auto;
  margin-top: 25px;
}

.authpage label {
  margin: 5px 0;
  font-size: 15px;
}

.authpage input,
.authpage button {
  border: solid 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  outline: none;
  height: 50px;
  background: inherit;
}

.authpage input {
  margin-bottom: 20px;
}

.authpage input:focus {
  box-shadow: 0 0 2pt 2pt #d9e9e6;
}

.authpage form button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: coral;
  color: white;
  font-size: 17px;
}

.authpage form button:hover {
  background: rgb(211, 90, 46);
}

@media (max-width: 750px) {
  .authpage form {
    width: 90vw;
  }
}
