.bookDetails {
  margin-top: 50px;
}

.bookDetails section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin: 35px auto;
}

.bookDetails img,
.bookDetails div {
  width: 50%;
}

.bookDetails img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.bookDetails div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookTitle {
  font-size: 20px;
  padding: 10px 0;
  border-bottom: solid 1px black;
  width: 100%;
  text-align: center;
}

.bookDetails span {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bookDetails article button {
  display: flex;
  align-items: center;
  border: none;
  background: black;
  color: white;
  padding: 2px 20px;
  margin-right: 5px;
}

.bookDetails article button:hover {
  background-color: rgb(53, 53, 53);
}

.bookDetails article button p {
  margin-left: 8px;
}

.bookDetails article {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

@media (max-width: 700px) {
  .bookDetails section {
    flex-direction: column;
    justify-content: center;
  }

  .bookDetails img,
  .bookDetails div {
    width: 95%;
  }

  .bookDetails img {
    height: auto;
    margin: auto;
  }

  .bookDetails div {
    margin-top: 25px;
  }
}
