.homepage {
  margin-top: 60px;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

.books div {
  text-align: center;
  margin-bottom: 25px;
}

.books img {
  height: 400px;
  width: 85%;
  object-fit: contain;
}

.books img:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
  }
}

.homePageButton {
  border: none;
  background: black;
  outline: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.homePageButton:hover {
  background: rgb(31, 31, 31);
}

@media (max-width: 700px) {
  .books {
    grid-template-columns: 1fr;
  }

  .books img {
    height: auto;
  }
}
