.landingPage {
  display: flex;
  min-height: 100vh;
}

.landingPage img,
.landingPage section {
  width: 50%;
  height: inherit;
}

.landingPage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingPage button {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background: #45b39d;
  color: white;
}

.landingPage button:hover {
  background: #42a18e;
}

@media (max-width: 700px) {
  .landingPage {
    flex-direction: column-reverse;
  }

  .landingPage img,
  .landingPage section {
    width: 100%;
  }

  .landingPage section {
    margin: 30px 0;
  }
}
