.usersPage section {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usersPage section button {
  border: none;
  outline: none;
  background: inherit;
  color: blue;
}
